In [1]:
# import dependencies
from turtle import pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import re
import pandas as pd
import numpy as np

In [2]:
url = "https://bmcnoldy.rsmas.miami.edu/tropics/radar/"

In [3]:
hurricane_data = pd.read_json("static/js/test.json")

In [4]:
hurricane_data.head()

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths,lat,long,category,Name_year
0,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000,1023,17.3,-83.0,4,Janet 1955
1,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000,756,16.3,-63.0,3,Inez 1966
2,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000,756,16.5,-64.4,4,Inez 1966
3,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000,756,17.0,-67.2,5,Inez 1966
4,Camille,"Cuba, United States Gulf Coast",August,16,1969,175,900,1420000000,259,24.3,-86.6,5,Camille 1969

In [5]:
hurricane_data["Year"] = hurricane_data["Year"].astype(str)

In [6]:
hurricane_data["id"] = hurricane_data["Name"].str.lower() + hurricane_data["Year"].str.slice(start=2)

In [7]:
hurricane_data["id"].unique().tolist()

['janet55',
 'inez66',
 'camille69',
 'david79',
 'allen80',
 'gilbert88',
 'andrew92',
 'mitch98',
 'isabel03',
 'ivan04',
 'katrina05',
 'rita05',
 'dean07',
 'felix07',
 'irma17',
 'maria17',
 'dorian19',
 'elena85',
 'humberto19',
 'larry21',
 'greta56',
 'anna61',
 'dean89',
 'doria67',
 'martha69',
 'beth71',
 'irene71',
 'kendra78',
 'bob79',
 'dennis81',
 'klaus84',
 'bob85',
 'danny85',
 'juan85',
 'bonnie86',
 'arlene87',
 'floyd87',
 'florence88',
 'chantal89',
 'jerry89',
 'klaus90',
 'gordon94',
 'allison95',
 'cesar96',
 'marco96',
 'danny97',
 'debby00',
 'gordon00',
 'claudette03',
 'erika03',
 'gaston04',
 'cindy05',
 'ophelia05',
 'stan05',
 'ernesto06',
 'florence06',
 'humberto07',
 'lorenzo07',
 'noel07',
 'hanna08',
 'kyle08']

In [23]:
gif_df = pd.read_json("static/js/gif_scrape.json")

In [24]:
gif_df = gif_df.drop_duplicates(subset=["hurricane"])

In [25]:
gif_df

      hurricane                                            gif_url
0       larry21      tropics/larry21/Larry_9Sep21_bermuda_long.gif
1    humberto19  tropics/humberto19/Humberto_18Sep19_bermuda_lo...
4      dorian19     tropics/dorian19/Dorian_1-6Sep19_southeast.gif
17      maria17          tropics/maria17/Maria_19-20Sep17_TJUA.gif
20       irma17        tropics/irma17/Irma_9-12Sep17_southeast.gif
26      hanna08                  tropics/hanna08/Hanna_06Sep08.gif
27   humberto07         tropics/humberto07/Humberto_12-13Sep07.gif
28       dean07                 tropics/dean07/Dean_16-17Aug07.gif
30   florence06            tropics/florence06/Florence_10Sep06.gif
32    ernesto06          tropics/ernesto06/Ernesto_29Aug06_AMX.gif
35    katrina05      tropics/katrina05/Katrina_25-26Aug05_kamx.gif
38     isabel03            tropics/isabel03/Isabel_18Sep03_MHX.gif
39  claudette03          tropics/claudette03/Claudette_15Jul03.gif
41     andrew92        tropics/andrew92/Andrew_25-26Aug92_KSIL.gif

In [26]:
gif_df = gif_df.reset_index(drop=True)

In [27]:
gif_df

      hurricane                                            gif_url
0       larry21      tropics/larry21/Larry_9Sep21_bermuda_long.gif
1    humberto19  tropics/humberto19/Humberto_18Sep19_bermuda_lo...
2      dorian19     tropics/dorian19/Dorian_1-6Sep19_southeast.gif
3       maria17          tropics/maria17/Maria_19-20Sep17_TJUA.gif
4        irma17        tropics/irma17/Irma_9-12Sep17_southeast.gif
5       hanna08                  tropics/hanna08/Hanna_06Sep08.gif
6    humberto07         tropics/humberto07/Humberto_12-13Sep07.gif
7        dean07                 tropics/dean07/Dean_16-17Aug07.gif
8    florence06            tropics/florence06/Florence_10Sep06.gif
9     ernesto06          tropics/ernesto06/Ernesto_29Aug06_AMX.gif
10    katrina05      tropics/katrina05/Katrina_25-26Aug05_kamx.gif
11     isabel03            tropics/isabel03/Isabel_18Sep03_MHX.gif
12  claudette03          tropics/claudette03/Claudette_15Jul03.gif
13     andrew92        tropics/andrew92/Andrew_25-26Aug92_KSIL.gif

In [28]:
gif_df["year"] = gif_df["hurricane"].str.slice(start=-2)

In [32]:
gif_df

,hurricane,gif_url,year,name
0,larry21,tropics/larry21/Larry_9Sep21_bermuda_long.gif,21,larry
1,humberto19,tropics/humberto19/Humberto_18Sep19_bermuda_lo...,19,humberto
2,dorian19,tropics/dorian19/Dorian_1-6Sep19_southeast.gif,19,dorian
3,maria17,tropics/maria17/Maria_19-20Sep17_TJUA.gif,17,maria
4,irma17,tropics/irma17/Irma_9-12Sep17_southeast.gif,17,irma
5,hanna08,tropics/hanna08/Hanna_06Sep08.gif,08,hanna
6,humberto07,tropics/humberto07/Humberto_12-13Sep07.gif,07,humberto
7,dean07,tropics/dean07/Dean_16-17Aug07.gif,07,dean
8,florence06,tropics/florence06/Florence_10Sep06.gif,06,florence
9,ernesto06,tropics/ernesto06/Ernesto_29Aug06_AMX.gif,06,ernesto
10,katrina05,tropics/katrina05/Katrina_25-26Aug05_kamx.gif,05,katrina
11,isabel03,tropics/isabel03/Isabel_18Sep03_MHX.gif,03,isabel
12,claudette03,tropics/claudette03/Claudette_15Jul03.gif,03,claudette
13,andrew92,tropics/andrew92/Andrew_25-26Aug92_KSIL.gif,92,andrew

In [31]:
gif_df["name"] = gif_df["hurricane"].str.slice(stop=-2)

In [33]:
gif_df["full_year"] = gif_df["year"].apply(lambda x: "20" + x if int(x) < 50 else "19" + x)

In [35]:
gif_df["name"] = gif_df["name"].str.capitalize()

In [37]:
gif_df["id"] = gif_df["name"] + " " + gif_df["full_year"]

In [38]:
gif_df

,hurricane,gif_url,year,name,full_year,id
0,larry21,tropics/larry21/Larry_9Sep21_bermuda_long.gif,21,Larry,2021,Larry 2021
1,humberto19,tropics/humberto19/Humberto_18Sep19_bermuda_lo...,19,Humberto,2019,Humberto 2019
2,dorian19,tropics/dorian19/Dorian_1-6Sep19_southeast.gif,19,Dorian,2019,Dorian 2019
3,maria17,tropics/maria17/Maria_19-20Sep17_TJUA.gif,17,Maria,2017,Maria 2017
4,irma17,tropics/irma17/Irma_9-12Sep17_southeast.gif,17,Irma,2017,Irma 2017
5,hanna08,tropics/hanna08/Hanna_06Sep08.gif,08,Hanna,2008,Hanna 2008
6,humberto07,tropics/humberto07/Humberto_12-13Sep07.gif,07,Humberto,2007,Humberto 2007
7,dean07,tropics/dean07/Dean_16-17Aug07.gif,07,Dean,2007,Dean 2007
8,florence06,tropics/florence06/Florence_10Sep06.gif,06,Florence,2006,Florence 2006
9,ernesto06,tropics/ernesto06/Ernesto_29Aug06_AMX.gif,06,Ernesto,2006,Ernesto 2006
10,katrina05,tropics/katrina05/Katrina_25-26Aug05_kamx.gif,05,Katrina,2005,Katrina 2005
11,isabel03,tropics/isabel03/Isabel_18Sep03_MHX.gif,03,Isabel,2003,Isabel 2003
12,claudette03,tropics/claudette03/Claudette_15Jul03.gif,03,Claudette,2003,Claudette 2003
13,andrew92,tropics/andrew92/Andrew_25-26Aug92_KSIL.gif,92,Andrew,1992,Andrew 1992

In [39]:
final_df = gif_df[["gif_url", "id"]]

In [40]:
final_df

                                              gif_url              id
0       tropics/larry21/Larry_9Sep21_bermuda_long.gif      Larry 2021
1   tropics/humberto19/Humberto_18Sep19_bermuda_lo...   Humberto 2019
2      tropics/dorian19/Dorian_1-6Sep19_southeast.gif     Dorian 2019
3           tropics/maria17/Maria_19-20Sep17_TJUA.gif      Maria 2017
4         tropics/irma17/Irma_9-12Sep17_southeast.gif       Irma 2017
5                   tropics/hanna08/Hanna_06Sep08.gif      Hanna 2008
6          tropics/humberto07/Humberto_12-13Sep07.gif   Humberto 2007
7                  tropics/dean07/Dean_16-17Aug07.gif       Dean 2007
8             tropics/florence06/Florence_10Sep06.gif   Florence 2006
9           tropics/ernesto06/Ernesto_29Aug06_AMX.gif    Ernesto 2006
10      tropics/katrina05/Katrina_25-26Aug05_kamx.gif    Katrina 2005
11            tropics/isabel03/Isabel_18Sep03_MHX.gif     Isabel 2003
12          tropics/claudette03/Claudette_15Jul03.gif  Claudette 2003
13        tropics/andrew92/Andrew_25-26Aug92_KSIL.gif     Andrew 1992